* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: burlywood;
}


.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4 , 100px);
    grid-template-rows: minmax(120px, auto) repeat(5 , 100px);
}

.calculator > button {
   margin: 2px;
    border: solid 1px coral;
    background-color: white ;
}

.span2{
    grid-column: span 2;
}

.screen {
    grid-column:  1 / -1;
    text-align: right;
    background-color: coral;
}

.screen .past {
    font-size: 1.5rem;
    margin-top: 8px;
}

.screen .present {
font-size: 2.5rem;
}